/* CSS Document */
*, *::after, *::before {
 box-sizing:border-box; 
}

body {
  	margin:0; padding:0;
  	font-family:Argumentum-Regular,sans-serif;
  }

/*/--------------header------------/*/

.main-nav ul{
	display:flex;
	flex-direction: row;
	margin:0;
	list-style-type: none;
	height:64px;
	box-shadow: 0em 0.3em 1.5em rgba(0,0,0,0.1);
	padding-left: 16px;
    padding-right: 16px;
}

#logolinkstop img{
	height:30px;
	width:100px;
}

#vergrooticoon img{
	width: 20%;
}

#lidworden{
	font-family: ArTarumianBakhum,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color:#7322c9;
	font-size: 20px;
}

#menuicoon img{
	width: 20%;
}

/*/--------------main------------/*/



h1{
	text-transform: uppercase;
	font-family: ArTarumianBakhum,sans-serif;
	font-size: 48px;
}

span{
	-webkit-text-stroke: 0.5px #fe7000;
    color: transparent;
    display: block;
}

#tussentext1 {
	font-size: 20px;
    line-height: 32px;
}

article{
	border: 1px solid #d8d8d8;
	margin: 20px 0;
	background: #fff;
}


article img{
width: 100%;
}

 {
	padding-left: 16px;
    padding-right: 16px;
}





